* {
    box-sizing:border-box;
}

.mobile {
    max-width:1000px;
    margin:0px auto;
    padding:0px 20px;
    position:relative;
}

@media screen and (max-width:1024px) {
    nav ul {
        display:none;
    }
    
    label {
        display:none;
        background-color:#FFFFFF;
        width:40px;
        height:40px;
        cursor:pointer;
        position:absolute;
        top:18px;
        border-radius:4px 4px 0px 0px;
        
        color:#000000;
        font-size:0.7em;
        text-align:center;
    }
    
    .imgSize {
        width:100%;
    }
    
    .mobileAside {
        width:100%;
        display:block;
    }
    
    .mobileAbout {
        width:auto;
        display:block;
        margin:25px 0px;
    }
    
    .columnA, .columnB, .columnC {
        width:auto;
        margin:1% auto;
    }
    
    .columnA h2, .columnB h2, .columnC h2 {
        font-size:3em;
    }
    
    .mainWidth {
        width:95%;
        padding:20px;
    }

}
